package ${PACKAGE_NAME};

${IMPORTS}

#if($NEED_COMMENT)
/**
 * $!{TABLE_COMMENT}
 * @author ${AUTHOR}
 */
#end
#if(${LOMBOK_ANNOTATION} != "")${LOMBOK_ANNOTATION}${NEW_LINE}#end
#if($USE_JPA_ANNOTATION)${TABLE_ANNOTATION}${NEW_LINE}#end
#if($USE_SWAGGER_ANNOTATION)@ApiModel(value = "${TABLE_COMMENT}")${NEW_LINE}#end
public class ${CLASS_NAME}$!{EXT_CLASS}{

#if($IMPL_SERIALIZABLE)
    #if($DYNAMIC_CREATE_SERIAL_UID)
    /** private static final long serialVersionUID = 1L;*/
    #else
    private static final long serialVersionUID=1L;
    #end

#end
#foreach($column in $COLUMNS)
    #if($NEED_COMMENT)
    /**
     * ${column.comment}
     */
    #end
    #if($USE_JPA_ANNOTATION)
        #if($column.primary)
            ${PRIMARY_KEY_ANNOTATION}
        #end
        #if($column.propertyName != $column.defaultPropertyName)
        @Column(name = "$column.columnName")
        #end
        #if($column.typeHandlerClass != "")
        @ColumnExt(typeHandler = $column.typeHandlerClass)
        #end
    #end
    #if($USE_SWAGGER_ANNOTATION)
    @ApiModelProperty(value = "${column.comment}")
    #end
private $column.javaType $column.propertyName;

#end
}