<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wkit.lost.mybatis.starter.example.mapper.SysUserMapper">
    <resultMap id="scoreResultMap" type="com.wkit.lost.mybatis.starter.example.vo.Score">
        <id column="ID" property="id"/>
        <result column="STATE" property="state"/>
        <result column="SEX" property="sex"/>
        <result column="COUNT" property="count"/>
        <result column="MIN" property="min"/>
        <result column="MAX" property="max"/>
        <result column="SUM" property="sum"/>
        <result column="AVG" property="avg"/>
        <result column="GMT_CREATE" property="gmtCreate"/>
    </resultMap>
</mapper>