* {
    -fx-font-size: 12px;
}

.button {
    -fx-font-size: 14px;
    -fx-border-width: 1px;
    -fx-border-color: transparent;
    -fx-border-radius: 3px;
}

.combo-box, .text-field, .password-field, .check-box > .box {
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-border-color: #c3c4c5;
    -fx-border-radius: 3px;
}

.check-box > .box {
    -fx-background-color: transparent;
}

.combo-box:focused, .combo-box.error:focused,
.text-field:focused, .text-field.error:focused,
.password-field:focused, .password-field.error:focused, 
.check-box:selected > .box, .check-box:selected > .box > .mark {
    -fx-border-color: #239df0;
}

.error, .text-field.error, .combo-box.error, .password-field.error {
    -fx-border-color: #ed4014;
}

.theme_default {
    -fx-text-fill: #333;
    -fx-background-color: #fff;
    -fx-border-color: #ccc;
}

.theme_default:hover {
    -fx-background-color: #e6e6e6;
    -fx-border-color: #adadad;
}

.theme_success {
    -fx-text-fill: #fff;
    -fx-background-color: #5cb85c;
    -fx-border-color: #4cae4c;
}

.theme_success:hover {
    -fx-text-fill: #fff;
    -fx-background-color: #449d44;
    -fx-border-color: #398439;
}

.theme_primary {
    -fx-background-color: #378bfa;
    -fx-text-fill: white;
}

.theme_primary:hover {
    -fx-background-color: #579efa;
}

.theme_warn {
    -fx-text-fill: #fff;
    -fx-background-color: #f59c1a;
    -fx-border-color: #f59c1a;
}

.theme_warn:hover {
    -fx-background-color: #db8a14;
    -fx-border-color: #db8a14;
}

.tree-view {
    -fx-border-color: #0d293e;
}

.tree-view .tree-cell:selected {
    -fx-background-color: #949494;
    -fx-text-fill: #fff;
}

.table-view .table-column {
    -fx-alignment: center;
}

.table-view .check-box:selected > .box,
.table-view .check-box:selected > .box > .mark {
    -fx-border-color: #666;
}
.table-view .table-row-cell{
    -fx-pref-height: 28;
}


/*.table-view {
    -fx-table-cell-border-color:transparent;
    -fx-border-color: white;
}

.table-view .table-row-cell {
    -fx-background-insets: 0;
}

.table-view .table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}

.table-row:selected {
    -fx-background-color: #f1f3f2;
}*/

