package ${PACKAGE_NAME};

${IMPORTS}

#if($NEED_COMMENT)
/**
 * $!{TABLE_COMMENT}
 * @author ${AUTHOR}
 */
#end
@Controller
    #if(${LOMBOK_ANNOTATION} != "")${LOMBOK_ANNOTATION}${NEW_LINE}#end
public class ${CLASS_NAME}$!{EXT_CLASS} {
    $!{SERVICE_CLASS}
        }