<?xml version="1.0" encoding="UTF-8"?>
<configuration status="off">
    <properties>
        <!-- 日志根目录 -->
        <Property name="PROJECT_DIR" value="${PROJECT_NAME}"/>
        #stop
        <Property name="LOG_HOME" value="${sys:user.home}/${PROJECT_DIR}/logs"/>
        <!-- 日志文件名 -->
        <Property name="LOG_FILE_NAME" value="error"/>
        <!-- 日志路径 -->
        <Property name="LOG_DIR" value="${LOG_HOME}/${LOG_FILE_NAME}/${date:yyyy-MM}"/>
        <!-- 日志格式 -->
        <Property name="CONSOLE_LOG_PATTERN" value="[%d{yyyy-MM-dd HH:mm:ss SSS}]: %-5level %class{36} [Method: %M -- Line: %L] - %m%n"/>
        <Property name="ERROR_LOG_PATTERN" value="[%d{yyyy-MM-dd HH:mm:ss SSS}]: %-5level %class{36} [Method: %M -- Line: %L] - %m%n"/>
        <!-- 日志大小开始割分 -->
        <Property name="LOG_FILE_SIZE" value="50 MB"/>
        <!-- 日志级别 -->
        <Property name="INFO_LEVEL" value="info"/>
        <Property name="ERROR_LEVEL" value="error"/>
    </properties>
    <appenders>
        <!-- 控制台输出 -->
        <Console name="CONSOLE" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${CONSOLE_LOG_PATTERN}"/>
            <ThresholdFilter level="${INFO_LEVEL}" onMatch="ACCEPT" onMismatch="DENY"/>
        </Console>
        <!-- 每日文件 -->
        <RollingFile name="ERROR"
                     fileName="${LOG_DIR}/${LOG_FILE_NAME}.log"
                     filePattern="${LOG_DIR}/ERROR-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${ERROR_LOG_PATTERN}"/>
            <ThresholdFilter level="${ERROR_LEVEL}" onMatch="ACCEPT" onMismatch="DENY"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <SizeBasedTriggeringPolicy size="${LOG_FILE_SIZE}"/>
            </Policies>
        </RollingFile>
    </appenders>
    <loggers>
        <!-- 异步 -->
        <AsyncRoot level="${INFO_LEVEL}" includeLocation="true">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="ERROR"/>
        </AsyncRoot>
    </loggers>
</configuration>