package ${PACKAGE_NAME};

${IMPORTS}

#if($NEED_COMMENT)
/**
 * $!{TABLE_COMMENT}
 * @author ${AUTHOR}
 */
#end
#if($USE_REPOSITORY_ANNOTATION)@Repository$NEW_LINE#end
public interface ${CLASS_NAME}$!{EXT_CLASS}{
    
}